* {
  margin:0px;
  padding:0px;
  background-image: linear-gradient(to bottom right, rgb(177, 90, 192), lavender);
  
  }

  body{
      height: 1000px;
  }

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background-image: linear-gradient(to bottom right, rgb(137, 202, 37), rgb(40, 140, 172));
  border: 3px double rgb(207, 9, 9);
  box-shadow: 12px 8px 6px 5px #777;
}
